#btn1id {
  margin-top: 30%;
  animation-delay: 0.1s; }

#btn2id {
  margin-top: 60%;
  animation-delay: 0.2s; }

#btn3id {
  margin-top: 90%;
  animation-delay: 0.3s; }

#titleWrap, #aboutPhaze, #resumePhaze {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  transition: all 0.25s linear 0s; }

#slideHolder1 {
  transform: translateX(0px);
  transition: all 1s ease-out 0s; }

#slideHolder2, #slideHolder3, #slideHolder4, #slideHolder5 {
  transform: translateX(100%);
  transition: all 1s ease-out 0s; }

#insideH1, #insideH2, #insideH3 {
  transition: all 0.5s ease-out; }

#filePageA, #filePageB, #filePageC {
  transition: all 1s ease-out 1s; }

#fileHolderA, #fileHolderB, #fileHolderC {
  transition: all 0.5s ease-out; }

#btn1id, #btn2id, #btn3id {
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fadein;
  transform: translateY(-100px); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-100px); } }
#titleWrap.visible, #aboutPhaze.visible, #p-aboutPhaze-trig.visible, #resumePhaze.visible {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.25s linear; }

#fileFleft, #fileFright {
  transition: all 0.5s ease-out 0s; }

.grid3 {
  width: 30%; }

.grid7 {
  width: 70%; }

.grid10 {
  width: 100%; }

.hgrid2 {
  height: 25%; }

.hgrid10 {
  height: 100%; }

.hgrid11 {
  height: 110%; }

.hgrid12 {
  height: 120%; }

.hgrid14 {
  height: 140%; }

.abs {
  position: absolute; }

.fix {
  position: fixed; }

.rel {
  position: relative; }

.flex {
  display: flex; }

.center {
  justify-content: center; }

.column {
  flex-direction: column; }

.z1m {
  z-index: -1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z6 {
  z-index: 6; }

.prime-f {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100; }

.t-center {
  text-align: center; }

.top {
  top: 0px; }

.left {
  left: 0px; }

.right {
  right: 0px; }

.auto {
  margin: 0px auto; }

.opacity-none {
  opacity: 0; }

.no-background {
  background: none; }

.no-border {
  border-style: none; }

.point {
  cursor: pointer; }

.over-x {
  overflow: hidden; }

h1 {
  color: white;
  font-size: 20px;
  margin: 10px 0px; }

p {
  line-height: 1.5; }

span {
  display: block; }

header {
  color: #35323b;
  box-sizing: border-box;
  border-width: 0px 0px 1px;
  border-style: solid;
  background: black; }
  header button {
    margin: 10px 5px; }
    header button div {
      background: white;
      width: 30px;
      height: 5px;
      border-radius: 2.5px;
      margin: 2px; }
  header nav {
    margin: 5% 0px;
    padding: 0px; }
    header nav button {
      color: white;
      font-size: 50px;
      font-weight: 100; }

.intro-holder {
  color: #35323b;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background: black; }
  .intro-holder .logo-prime {
    top: 50px;
    transition: all 0.5s linear 0.25s; }
  .intro-holder .botrig {
    top: 50%; }
  .intro-holder .title-wrap {
    transition: all 1s linear 0.5s;
    margin: 275px auto 0px; }
  .intro-holder .intro-p1 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    margin: 10% 0px 1%; }
  .intro-holder .intro-p2 {
    color: #6e28e1;
    font-size: 30px;
    font-weight: 100;
    margin: 1% 0px; }

.about-holder {
  background: #6e28e1; }
  .about-holder h3 {
    color: white;
    font-size: 60px;
    font-weight: 100;
    margin: 50px 0px 10px; }
  .about-holder h4 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    margin: 30px 0px 6px; }
  .about-holder p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    margin: 30px 70px 100px;
    word-wrap: break-word; }
  .about-holder .personal-holder {
    background: black;
    width: 450px;
    height: 450px;
    border-radius: 225px;
    color: #35323b;
    box-sizing: border-box;
    border-width: 1.5px;
    border-style: solid;
    margin: 20px 0px 0px; }
  .about-holder .texthold {
    background: #521ca8;
    width: 450px;
    height: 450px;
    border-radius: 225px; }

.resume-holder {
  color: #35323b;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background: black; }
  .resume-holder h3 {
    color: white;
    font-size: 60px;
    font-weight: 100;
    margin: 28px 0px 10px; }

.resume-holder .file-wrap {
  margin: 175px 0px 0px; }

.resume-holder .file {
  background: none;
  width: 200px;
  height: 200px;
  border-radius: 0px; }

.resume-holder .file-backplate {
  margin: 57px 0px 0px; }

.resume-holder .file-front {
  width: 98px; }

#fileFleft {
  margin: 70px 0px 0px -42px; }

#fileFright {
  margin: 70px 0px 0px 42px; }

.resume-holder .file-lock {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background: #cc0066;
  margin: 120px 0px 0px; }

#fileLock {
  transform: scale(1);
  transition: all 0.5s ease-out 0s; }

.inside-hold-1 {
  margin-top: 20px; }

.inside-hold-2 {
  margin-top: 40px; }

.inside-hold-3 {
  margin-top: 60px; }

.resume-holder .inside-hold-1 button {
  color: white;
  font-size: 18px;
  margin: 75px 0px;
  background: none;
  border-style: none; }

.resume-holder .inside-hold-2 button {
  color: white;
  font-size: 18px;
  margin: 75px 0px;
  background: none;
  border-style: none; }

.resume-holder .inside-hold-3 button {
  color: white;
  font-size: 18px;
  margin: 75px 0px;
  background: none;
  border-style: none; }

.close-button {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 12px;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin: 20px;
  background: #6e28e1;
  border-radius: 25px;
  border-style: none; }

footer {
  color: #35323b;
  box-sizing: border-box;
  background: #6e28e1;
  border-width: 1px;
  border-style: solid; }

.gear-whole {
  width: 300px;
  height: 300px;
  margin: 0px auto; }

.gear-quarter1 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: -88px 0 0 165px; }

.gear-quarter2 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: 286px 0px 0px 59px; }

.gear-quarter3 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: 494px 0px 0px -165px; }

.gear-half-right {
  width: 150px;
  height: 150px;
  margin: 235px 0px 0px 165px; }

.gear-half-left {
  width: 150px;
  height: 150px;
  transform: rotate(10deg);
  margin: 217px 0px 0px -165px; }

.gear-half-bottom {
  width: 150px;
  height: 150px;
  transform: rotate(0);
  margin: 555px 0px 0px -125px; }

html, body {
  height: 100%;
  background: black;
  margin: 25px 0px 0px; }

/*# sourceMappingURL=styles.css.map */
