#btn1id {
  margin-top: 30%;
  animation-delay: 0.1s; }

#btn2id {
  margin-top: 60%;
  animation-delay: 0.2s; }

#btn3id {
  margin-top: 90%;
  animation-delay: 0.3s; }

#titleWrap, #aboutPhaze, #resumePhaze, #pm1-Phaze {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  transition: all 0.25s linear; }

#slideHolder1 {
  transform: translateX(0px);
  transition: all 1s ease-out 0s; }

#slideHolder2, #slideHolder3, #slideHolder4, #slideHolder5 {
  transform: translateX(100%);
  transition: all 1s ease-out 0s; }

#insideH1, #insideH2, #insideH3 {
  transition: all 0.5s ease-out; }

#filePageA, #filePageB, #filePageC {
  transition: all 1s ease-out 1s; }

#fileHolderA, #fileHolderB, #fileHolderC {
  transition: all 0.5s ease-out; }

#btn1id, #btn2id, #btn3id {
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fadein;
  transform: translateY(-100px); }

#fileFleft, #fileFright, #fileLock {
  transform: scale(1);
  transition: all 0.5s ease-out 0s; }

#fileFleft {
  margin: 70px 0px 0px -42px; }

#fileFright {
  margin: 70px 0px 0px 42px; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-100px); } }
#titleWrap.visible, #aboutPhaze.visible, #p-aboutPhaze-trig.visible, #resumePhaze.visible {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.25s linear; }

#pm1-Phaze.visible {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.25s linear;
  transition-delay: 0.1s; }

#jobTag {
  opacity: 1;
  transform: scale(1); }

.grid3 {
  width: 30%; }

.grid7 {
  width: 70%; }

.grid8 {
  width: 80%; }

.grid10 {
  width: 100%; }

.abs {
  position: absolute; }

.fix {
  position: fixed; }

.rel {
  position: relative; }

.flex {
  display: flex; }

.center {
  justify-content: center; }

.btw {
  justify-content: space-between; }

.column {
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.z1m {
  z-index: -1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z6 {
  z-index: 6; }

.t-center {
  text-align: center; }

.top {
  top: 0px; }

.left {
  left: 0px; }

.right {
  right: 0px; }

.auto {
  margin: 0px auto; }

.opacity-none {
  opacity: 0; }

.no-background {
  background: none; }

.no-border {
  border-style: none; }

.point {
  cursor: pointer; }

.over-x {
  overflow: hidden; }

h1, h2, h3, h4, p {
  font-family: Aproxima-nova, "Catamaran", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

p {
  line-height: 1.5; }

span {
  display: block; }

header {
  border-color: #35323b;
  box-sizing: border-box;
  border-width: 0px 0px 1px;
  border-style: solid;
  background: black; }
  header h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px; }
  header button {
    margin: 10px 5px; }
    header button div {
      background: #ffffff;
      width: 30px;
      height: 5px;
      border-radius: 2.5px;
      margin: 2px; }
  header nav {
    margin: 5% 0px;
    padding: 0px; }
    header nav button {
      color: #ffffff;
      font-size: 50px;
      font-weight: 600; }

.intro-holder {
  border-color: #35323b;
  box-sizing: border-box;
  border-width: 1px 0 0;
  border-style: solid;
  background: black; }
  .intro-holder .intdiv {
    margin: 70px 0 0; }
  .intro-holder .logo-prime {
    top: 50px;
    transition: all 0.5s linear 0.25s;
    width: 250px; }
  .intro-holder .botrig {
    top: 50%; }
  .intro-holder .title-wrap {
    transition: all 1s linear 0.5s;
    margin: 275px auto 0px; }
  .intro-holder .intro-p1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin: 10% 0px 1%; }
  .intro-holder .intro-p2 {
    color: #6100ff;
    font-size: 30px;
    font-weight: 400;
    margin: 1% 0px 50px; }

.about-holder {
  background: #6100ff; }
  .about-holder .about-twrap {
    width: 315px; }
  .about-holder h3 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    margin: 40px 0px 10px; }
  .about-holder p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0px 0px 10px; }
  .about-holder .personal-wrap {
    height: 500px; }
  .about-holder .personal-holder {
    background: black;
    width: 450px;
    height: 450px;
    border-radius: 225px;
    margin: 20px 0px 0px; }
    .about-holder .personal-holder h4 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 500;
      margin: 30px 0px 6px; }
    .about-holder .personal-holder p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      margin: 30px 70px 100px;
      word-wrap: break-word; }
  .about-holder .texthold {
    background: #4700b9;
    width: 450px;
    height: 450px;
    border-radius: 225px; }
  .about-holder .leftbutton, .about-holder .rightbutton {
    color: #ffffff;
    top: 225px; }
  .about-holder .book {
    width: 300px;
    margin: 60px auto 30px; }
  .about-holder .resbutton {
    border-color: #ffffff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background: #6100ff;
    width: 300px;
    height: 75px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto 50px;
    white-space: normal; }

.resume-holder {
  border-color: #35323b;
  box-sizing: border-box;
  border-width: 1px 0;
  border-style: solid;
  background: black; }
  .resume-holder h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    margin: 60px 0px 15px; }
  .resume-holder .file-wrap {
    margin: 175px 0px 0px;
    height: 430px; }
  .resume-holder .file {
    background: none;
    width: 200px;
    height: 200px;
    border-radius: 0px; }
  .resume-holder .file-backplate {
    margin: 57px 0px 0px; }
  .resume-holder .file-front {
    width: 98px; }
  .resume-holder .file-lock {
    background: #df021f;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin: 120px 0px 0px; }
  .resume-holder button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 75px 0px; }
  .resume-holder .inside-hold-1 {
    margin-top: 20px; }
  .resume-holder .inside-hold-2 {
    margin-top: 40px; }
  .resume-holder .inside-hold-3 {
    margin-top: 60px; }
  .resume-holder .close-button {
    background: #6100ff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 20px; }

.spec-holder {
  background: black;
  width: 315px;
  height: 80%;
  border-radius: 0; }

.spec {
  border-color: #35323b;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background: black;
  width: 315px;
  height: 200px;
  border-radius: 0;
  margin: 15px 0 0; }
  .spec .specobj {
    width: 50px;
    margin: 10px 15px 15px; }
  .spec h4 {
    color: #6100ff;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0 0 80px; }
  .spec p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 15px 20px; }

h4 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 55px; }

.job-prime {
  border-color: #35323b;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background: black;
  width: 315px;
  height: 250px;
  border-radius: 0; }
  .job-prime img {
    width: 200px;
    margin: 15px auto; }
  .job-prime h4 {
    color: #6100ff;
    font-size: 25px;
    font-weight: 600;
    margin: 25px auto; }
  .job-prime p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    margin: 0 15px 15px; }
  .job-prime span {
    margin: 10px 0 0; }
  .job-prime button {
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0;
    width: 30px;
    transform: translateY(200px); }
    .job-prime button div {
      background: #ffffff;
      width: 30px;
      height: 5px;
      border-radius: 2.5px;
      margin: 2px auto; }

footer {
  box-sizing: border-box;
  background: #6100ff;
  border-width: 1px;
  border-style: solid; }
  footer object {
    margin: 30px auto 0;
    width: 175px; }
  footer p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin: 30px 30px 40px; }
    footer p a {
      text-decoration: underline; }

.gear-whole {
  width: 300px;
  height: 300px;
  transform: rotate(0deg);
  margin: 0px auto; }

.gear-quarter1 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: -88px 0 0 165px; }

.gear-quarter2 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: 286px 0 0 59px; }

.gear-quarter3 {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: 494px 0 0 -165px; }

.gear-half-right {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  margin: 235px 0 0 165px; }

.gear-half-left {
  width: 150px;
  height: 150px;
  transform: rotate(10deg);
  margin: 217px 0 0 -165px; }

.gear-half-bottom {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  margin: 555px 0 0 -125px; }

.gearmid-whole {
  width: 300px;
  height: 300px;
  transform: rotate(0deg);
  margin: -9px 0 0 0px; }

.gear-half1 {
  width: 150px;
  height: 150px;
  transform: rotate(-1deg);
  margin: 231px 0 0 179px; }

.gear-half2 {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  margin: 276px 0 0 -164px; }

.gear-half3 {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  margin: -220px 0 0 -84px; }

.gear-quarter1res {
  width: 75px;
  height: 75px;
  transform: rotate(14deg);
  margin: 270px 0 0 71px; }

.gear-quarter2res {
  width: 75px;
  height: 75px;
  transform: rotate(0deg);
  margin: 162px 0 0 171px; }

.gear-quarter3res {
  width: 75px;
  height: 75px;
  transform: rotate(35deg);
  margin: 380px 0 0 -81px; }

.footgearw {
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  margin: -80px auto 0; }

html, body {
  height: 100%;
  background: black;
  margin: 25px 0px 0px; }

/*# sourceMappingURL=styles.css.map */
