@for $i from 1 through 3 {
    $marginT: 30% * $i;
    $animD: 0.1s * $i;

    #btn#{$i}id {
        margin-top: $marginT;
        animation-delay: $animD;
    }
}

/*#titleWrap, #aboutPhaze, #resumePhaze, #pm1-Phaze {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    transition: all 0.25s linear; 
}*/

#slideHolder1 {
    transform: translateX(0px);
    transition: all 1s ease-out 0s;
}

#slideHolder2, #slideHolder3, #slideHolder4, #slideHolder5 {
    transform: translateX(100%);
    transition: all 1s ease-out 0s;
}

#insideH1, #insideH2, #insideH3 {
    transition: all 0.5s ease-out;
}

#filePageA, #filePageB, #filePageC {
    transition: all 1s ease-out 1s;
}

#fileHolderA, #fileHolderB, #fileHolderC {
    transition: all 0.5s ease-out;
}

#btn1id, #btn2id, #btn3id {
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: fadein;
    transform: translateY(-100px);
}

#fileFleft, #fileFright, #fileLock {
    transform: scale(1);
    transition: all 0.5s ease-out 0s;
}

#fileFleft {
    margin: 70px 0px 0px -42px;

    @media(min-width: 768px){
        margin: 75px 0px 0px -53px;
    }
}

#fileFright {
    margin: 70px 0px 0px 42px;

    @media(min-width: 768px){
        margin: 75px 0px 0px 53px;
    }
}



@keyframes fadein{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0px); 
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#titleWrap.visible, #aboutPhaze.visible, #p-aboutPhaze-trig.visible, #resumePhaze.visible {
    opacity: 1;
    transform: translateY(0px) scale(1);
    transition: all 0.25s linear; 
}

#pm1-Phaze.visible{
    opacity: 1;
    transform: translateY(0px) scale(1);
    transition: all 0.25s linear; 
    transition-delay: 0.1s;
}

.barz1, .barz2{
    transition: all 0.5s ease-out;
}

#slideHolder2, #slideHolder3{
    opacity: 0;
}