h1 ,h2, h3, h4, p {
    font-family: Aproxima-nova, "Catamaran", "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
    z-index: 2;
}


span {
    display: block;
}



button{
    z-index: 3;
    outline: none;
}