$pureWhite:  #ffffff;
$pureBlack: black;
$primePurple:#6100ff;
$gearPurple: #6e28e1;
$darkPurple: #4700b9;
$borderPurple: rgb(53, 50, 59);
$hotPink: #ff012b;
$borderPink: #ff0076;
$lightPink: #ff2643;

