@mixin border($color, $size){
    border-color: $color;
    box-sizing: border-box;
    border-width: $size;
    border-style: solid;
}

@mixin dimensions($color, $width, $height, $radius, $marg){
    background: $color;
    width: $width;
    height: $height;
    border-radius: $radius;
    margin: $marg;
}

@mixin fontSettings($color, $size, $weight, $line, $marg){
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    margin: $marg;
}

@mixin gearSettings($widheight, $rot, $margin){
    width: $widheight;
    height: $widheight;
    transform: rotate($rot);
    margin: $margin;
}
