
.about-holder {
    background: $primePurple;

    .about-twrap{
        width: 315px;

        @media(min-width: 768px){
            width:600px;

            @media(min-width: 1024px){
                width:750px;
            }
        }
        
    }

    h3 {
        @include fontSettings($pureWhite, 60px, 500, 1, 0px 0 15px);

        @media(min-width: 1024px){
            font-size: 70px;
        }      
    }

    p {
        @include fontSettings($pureWhite, 28px, 400, 1.3, 0 0 10px);
        word-wrap: break-word;

        @media(min-width: 1024px){
            font-size: 35px;
        }      
    }

    .personal-wrap{
        background: $offPurple;
        height:300px;
        width: 300px;
        border-radius: 150px;
        margin: -5px auto 0;

        @media(min-width: 768px){
            height: 275px;
            width: 275px;

            @media(min-width: 1024px){
                height: 250px;
                width: 250px;
            }      
        }
    }

    .personal-holder {
        @include dimensions(none, 450px, 450px, 0, 0);

        @media(min-width: 768px){
            @include dimensions(none, 750px, 450px, 0, 0);
        }

        h4 {
            @include fontSettings($pureWhite, 40px, 400, 1, 10px 0px 0px);

            @media(min-width: 1024px){
                font-size: 45px;
            }
        }

        p {
            @include fontSettings($pureWhite, 18px, 300, 1.5, 10px 70px 10px);
            word-wrap: break-word;

            @media(min-width: 768px){
                font-size: 22px;

                @media(min-width: 1024px){
                    @include fontSettings($pureWhite, 26px, 300, 1.5, 10px 10px 10px);
                }
            }
        }
    }

    .texthold {
        @include dimensions(none, 450px, 280px, 0px, 0);

        @media(min-width: 768px){
            @include dimensions(none, 750px, 450px, 0, 0);
        }
    }

    .leftbutton, .rightbutton{
        color: $pureWhite;
        top: 18px;
        width: 45%;
        font-size: 20px;
    }

    .book{
        @include dimensions(none, 300px, 300px, 0px, 60px auto 15px);

        @media(min-width: 768px){
            @include dimensions(none, 350px, 350px, 0px, 60px auto 0);
        }
    }

    .resbutton{
        @include border($pureWhite, 2px);
        @include dimensions($primePurple, 300px, 75px, 10px, 10px auto 75px);
        @include fontSettings($pureWhite, 22px, 500, 1, 10px auto 75px);
        
        @media(min-width: 1024px){
            margin: 55px auto 125px;
        }      
    }
}

