

.spec-holder{
    @include dimensions($pureBlack, 315px, 80%, 0, 0);

    @media(min-width: 768px){
        width: 600px;

        @media (min-width: 1024px){
            width: 800px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    h3 {
        @include fontSettings($pureWhite, 40px, 500, 1, 101px 0 55px);

        @media(min-width: 768px){
            font-size: 50px;
            margin: 135px 0 55px;

            @media (min-width: 1024px){
                font-size: 60px;
            }
        }
    }

    h4{
        @include fontSettings($pureWhite, 25px, 500, 1, -35px 0 55px);
        transition: 0.25s linear;

        @media (min-width: 1024px){
            font-size: 30px;
        }
    }

    .spec{
        @include border($gearPurple, 1px);
        @include dimensions($pureBlack, 315px, 225px, 0, 15px 0 0);
        transition: 0.25s linear;

        @media(min-width: 768px){
            @include dimensions($pureBlack, 600px, 150px, 0, 15px 0 0);

            @media (min-width: 1024px){
                @include dimensions($pureBlack, 370px, 275px, 0, 30px 15px 0);
            }
        }
    
        .specobj{
            width: 50px;
            margin: 10px 15px 15px;
        }
    
        h4{
            @include fontSettings($primePurple, 22px, 500, 1, auto 0 0 80px); 

            @media (min-width: 1024px){
                font-size: 26px;
            }
        }
    
        p{
            @include fontSettings($pureWhite, 16px, 400, 1.5, auto 20px);

            @media (min-width: 1024px){
                font-size: 20px;
            }
        }
    }

    .job-prime{
        @include border($gearPurple, 1px);
        @include dimensions($pureBlack, 315px, 250px, 0, 0);

        @media(min-width: 768px){
            @include dimensions($pureBlack, 600px, 300px, 0, 0);

            @media(min-width: 1024px){
                @include dimensions($pureBlack, 600px, 400px, 0, 0 auto);
            }
        }
    
        img{
            width: 200px;
            margin: 15px auto;
            transition: all 0.5s linear;

            @media(min-width: 768px){
                width: 300px;

                @media(min-width: 1024px){
                    width: 350px;
                    margin: 25px auto;
                }
            }
            
        }
    
        h4{
            @include fontSettings($primePurple, 25px, 600, 1, 140px auto 0);
            transition: all 0.25s linear;

            @media(min-width: 768px){
                @include fontSettings($primePurple, 35px, inherit, inherit, 185px auto 0);

                @media(min-width: 1024px){
                    @include fontSettings($primePurple, 40px, inherit, inherit, 225px auto 0);
                }
            }
        }
    
        p{
            @include fontSettings($pureWhite, 12px, 500, 1.5, 0);
            opacity: 0;
            transition: all 0.5s linear;
            width: 285px;

            @media(min-width: 768px){
                @include fontSettings($pureWhite, 18px, 500, 1.5, 0 15px 15px);
                width: 550px;

                @media(min-width: 1024px){
                    margin: 30px 15px 15px;
                }
            }
        }
    
        span{
            margin: 10px 0 0;
        }
    
        .button-job{
            width:30px;
            transform: translateY(200px);

            @media(min-width: 768px){
                transform: translateY(250px);

                @media(min-width: 1024px){
                    transform: translateY(315px);
                }
            }
    
            div {
                @include dimensions($pureWhite, 30px, 5px, 2.5px, 2px auto);

                @media(min-width: 1024px){
                    @include dimensions($pureWhite, 50px, 10px, 5px, 3px auto);
                }
            }
        }
    }
}











