.intro-holder {
    @include border(rgb(53, 50, 59), 1px);
    background: black;

    .logo-prime {
        top: 50px;
        transition: all 0.5s linear 0.25s;
        width: 100%;
    }

    .botrig {
        top: 50%;
    }

    .title-wrap {
        transition: all 1s linear 0.5s;
        margin: 275px auto 0px;
    }

    .intro-p1 {
        @include fontSettings($pureWhite, 30px);
        margin: 10% 0px 1%;
    }

    .intro-p2 {
        @include fontSettings($primePurple, 30px);
        margin: 1% 0px;
    }
}

.about-holder {
    background: $primePurple;

    h3 {
        @include fontSettings($pureWhite, 60px);
        margin: 50px 0px 10px;
    }

    h4 {
        @include fontSettings($pureWhite, 40px);
        margin: 30px 0px 6px; 
    }

    p {
        @include fontSettings($pureWhite, 18px);
        margin: 30px 70px 100px;
        word-wrap: break-word;
    }

    .personal-holder {
        @include dimensions($pureBlack, 450px, 450px, 225px);
        @include border($borderPurple, 1.5px);
        margin: 20px 0px 0px;
    }

    .texthold {
        @include dimensions($darkPurple, 450px, 450px, 225px);
    }
}

.resume-holder {
    @include border($borderPurple, 1px);
    background: $pureBlack;

    h3 {
        @include fontSettings($pureWhite, 60px);
        margin: 28px 0px 10px;
    }
}



.resume-holder .file-wrap {
    margin: 175px 0px 0px;
}

.resume-holder .file {
    @include dimensions(none, 200px, 200px, 0px);
}

.resume-holder .file-backplate {
    margin: 57px 0px 0px;
}

.resume-holder .file-front {
    width: 98px;
}

#fileFleft {
    margin: 70px 0px 0px -42px;
}

#fileFright {
    margin: 70px 0px 0px 42px;
}

.resume-holder .file-lock {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background: rgb(204, 0, 102);
    margin: 120px 0px 0px;
}

#fileLock {
    transform: scale(1);
    transition: all 0.5s ease-out 0s;
}


@for $i from 1 through 3 {
    $marginT: 20px * $i;

    .inside-hold-#{$i}{
        margin-top: $marginT;
    }
}

.resume-holder .inside-hold-1 button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 75px 0px;
    background: none;
    border-style: none;
}

.resume-holder .inside-hold-2 button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 75px 0px;
    background: none;
    border-style: none;
}

.resume-holder .inside-hold-3 button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 75px 0px;
    background: none;
    border-style: none;
}

.close-button {
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 20px;
    background: rgb(110, 40, 225);
    border-radius: 25px;
    border-style: none;
}