.resume-holder {
    @include border($borderPurple, 1px 0);
    background: $pureBlack;
    z-index: 1;

    .reshold{
        height: 625px;

        @media(min-width: 768px){
            height: 1000px; 
        }

        h3 {
            @include fontSettings($pureWhite, 40px, 500, 1, 120px 0 55px);
            transition: all 0.5s ease-out;
            
            @media(min-width: 768px){
                @include fontSettings($pureWhite, 50px, 500, 1, 225px 0 55px);
            }
        }
    }

    .file-wrap {
        margin: 175px 0px 0px;
        height: 430px;
        left: 0; 
        right: 0;

        @media(min-width: 768px){
            margin: 325px 0 0;

        }

        .close-button {
            @include dimensions(none, 50px, 50px, 25px, 10px 0px 0);
            @include fontSettings($hotPink, 20px, 100, 1, 10px 0px 0);
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            z-index: 5;
            align-content: center;    
        }
    

        button{
            @include fontSettings($pureWhite, 20px, 400, 1, 75px 0);

            @media(min-width: 768px){
                @include fontSettings($pureWhite, 30px, 500, 1, 125px 0);
            }
        }

        .file-lock {
            @include dimensions($pureBlack, 110px, 110px, 55px, 120px 0 0);
            @include border($hotPink, 10px);

            @media(min-width: 768px){
                @include dimensions($pureBlack, 150px, 150px, 75px, 160px 0 0);

            }

            div {
                @include dimensions($pureWhite, 50px, 10px, 5px, 6px auto);
            }
        }
    }

    .file {
        @include dimensions(none, 200px, 200px, 0px, 0);


            @media(min-width: 768px){
                width:270px;
                height: 300px;

            }
    }

    .file-backplate {
        margin: 57px 0px 0px;
    }

    .file-front {
        width: 98px;

        @media(min-width: 768px){
            width:140px;

        }
    }


    @for $i from 1 through 3 {
        $marginT: 20px * $i;
    
        .inside-hold-#{$i}{
            margin-top: $marginT;
        }
    }
}




#fileFleft {
    margin: 70px 0px 0px -42px;

    @media(min-width: 768px){
        margin: 75px 0px 0px -65px;

    }
}

#fileFright {
    margin: 70px 0px 0px 42px;

    @media(min-width: 768px){
        margin: 75px 0px 0px 65px;

    }
}

.scrnhold{
    height: 100%;
    width: 100%;
    background: red;
    z-index: 5;
    left:0;
    right:0;
    top: 0; 
    bottom: 0;
    margin: auto;
    transition: all 0.5s linear;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed-holder{
    width: 300px;
    height: 360px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}