footer {
    color: rgb(53, 50, 59);
    box-sizing: border-box;
    background: #320084;
    border-width: 1px;
    border-style: solid;

    div{
        margin: 25px;

        h4{
            color: #ff3558;
        }
    }
}