.intro-holder {
    @include border(rgb(53, 50, 59), 1px 0 0);
    background: $pureBlack;

    .intdiv{
        margin: 70px 0 0;
    }

    .logo-prime {
        transition: all 0.5s linear 0.25s;
        display: block;
        width: 225px;
        top: 50px;

        @media (min-width: 768px){
            width: 350px;
            top: 100px;

            @media (min-width: 1024px){
                width: 400px;
            }
        }
    }

    .botrig {
        top: 50%;
    }

    .title-wrap {
        transition: all 1s linear 0.5s;
        margin: 265px auto 0px;

        @media (min-width: 768px){
            margin: 500px auto 0px;
            width: 60%;
        }     
    }

    .intro-p1 {
        @include fontSettings($pureWhite, 28px, 500, 1.2, 0);

        @media (min-width: 768px){
            @include fontSettings($pureWhite, 30px, 600, 1.3, 0);

            @media (min-width: 1024px){
                font-size: 35px;
            }
        }
    }

    .intro-p2 {
        @include fontSettings($lightPink, 28px, 500, 1.2, 0px 0 125px);

        @media (min-width: 768px){
            @include fontSettings($lightPink, 30px, 600, 1.3, 0 0 175px);

            @media (min-width: 1024px){
                font-size: 35px;
            }
        }
    }
}